@{
    ViewData["Title"] = "Home Page";
}


<div class="container text-center">
    <h1>Welcome to Palestinian Cuisine</h1>
    <p>Explore the rich flavors of Palestinian cooking.</p>

    <div class="row">
        <div class="col">
            <img src="https://seaofherbs.com/wp-content/uploads/2021/12/Falafel-Recipe-min-450x278.png" alt="Falafel" class="img-fluid" />
            <p class="caption">Falafel - a traditional deep-fried ball made from ground chickpeas.</p>
        </div>
        <div class="col">
            <img src="https://falasteenifoodie.com/wp-content/uploads/2022/11/IMG-20221027-WA0218-600x800-2.jpg" alt="Musakhan" class="img-fluid" />
            <p class="caption">Musakhan - a dish with roasted chicken baked with onions, sumac, allspice, saffron, and fried pine nuts atop one or more taboons of bread.</p>
        </div>
    </div>

    <div class="my-hobby">
        <p>Palestinian cuisine consists of various styles of cooking originating from the geographic region of Palestine. The traditions of Palestinian cuisine have been influenced by the cultures and cooking methods of the various civilizations that have ruled the region, including the Ottomans and Arabs.</p>
        <p>The flavors of Palestinian food are robust and unique, often characterized by the use of herbs, garlic, and lemon. Olive oil is a staple in all cooking and is used to bring out the vibrant flavors of fresh salads and dishes. Olive trees are often seen as a sign of resilience amongst Palestinians. With Trees as old as dating back to my personal ancestors in the canaanite era.</p>
    </div>


