@{
    ViewData["Title"] = "Home Page";
}


<div class="text-cetner">
    <h1 class='display-7'>Learn more about Palestinian Cooking</h1>
    <p>One of my favorite hobbies is cooking. Not just cooking any food, but Palestinian food.</p>
</div>
<br>
<div class="text-cetner">
    <h1 class='display-7'>Palestinian Feast</h1>
    <img href="https://recipes.net/wp-content/uploads/2023/09/palestinian-food-recipes-to-get-you-started-1694796476.jpg" />
</div>



